.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  font-family: "Inter";
}

@media screen and (max-width: 390px) {
  .markdown ul li {
    display: flex;
    flex-wrap: wrap;
  }

  .markdown ul li p a{
    display: block;
  }

  .markdown ul {
    padding: 1px;
  }
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown pre {
  margin-top: 0 !important;
}
